.nav-container {
  display: flex;
  background-color: var(--bg-soft);
  padding: 0.5rem 2rem;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  padding: 10px 10px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list a {
  padding: 0rem 0.5rem;
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
}

.logout-btn {
  background-color: var(--accent);
  color: var(--bg);
  border: none;
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 0.5rem;
  font-weight: bold;
  transition: 300ms;
}

.logout-btn:hover {
  opacity: 0.9;
  background-color: var(--text);
  color: var(--accent);
}

.cart-link:hover {
  color: var(--accent);
}

.cart-link {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text);
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s;
  font-size: 1.5rem;
}
