.nav-container {
  display: flex;
  background-color: var(--bg-soft);
  padding: 0.5rem 2rem;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-list li a {
  text-decoration: none;
  color: var(--accent);
}
